.gallery {
  margin: 10px 50px; 
} 
.gallery img {
  transition: 1s;
  padding: 20px;
  width: 243px; 
} 
.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1); 
}
/* Experience */
.experience [class*="row"] {
  border-bottom: solid 0px #ccc;
  padding-top: 0em;
  padding-bottom: 0em;
}

.experience h2 {
  margin-bottom: 0;
}

.experience h2, .experience p {
  text-align: center;
}

.experience [class*="row"]:last-of-type {
  border: none;
}

.experience a {
  background-color: transparent;
  border: 3px solid #f66733;
  border-radius: 3px;
  color: #f66733;
  padding: 8px 30px;
  font-size: 1.1em;
  opacity: .8;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.experience a:hover {
  background-color: #f66733;
  color: #ffffff;
}

@media screen and (min-width: 40em) {
  .experience h2, .experience p {
    text-align: left;
  }
}
.container {
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
}
footer {
  margin-bottom: 1em;
  color: #888;
}

footer hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}


.center h1 {
  margin-top: 2em;
}
/* Contact */
.contact {
  background-color: none;
  padding: 0em 0em;
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: center;
}

.contact img {
  width: 60%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contact h1 {
  color: #f66733;
}

.contact h2 {
  color: #f66733;
  text-align:center;
  font-size:5em;
  padding-top: 0em;
  margin-top: 1em
}

.contact p {
  color: #6d5e53;
  font-size: 1.1em;
}

.contact a {
  background-color: transparent;
  border: 3px solid #adadad;
  padding: 7px 35px;
  border-radius: 3px;
  color: #f66733;
  font-size: 1.1em;
  opacity: .8;
  margin-bottom: 10px;
}

.contact a:hover {
  background-color: #f66733;
  color: #ffffff;
}

@media screen and (min-width: 40em) {
  .contact {
    padding: 6em;
    text-align: left;
  }
  
  .contact h1, .contact p {
    text-align: left;
  }
  
}

/* Go back */

.goback {
  background-color: transparent;
  padding-top: 0em;
  padding-bottom: 0em;
}
.goback a {
  background-color: transparent;
  border: 3px solid #adadad;
  padding: 7px 35px;
  border-radius: 3px;
  color: #f66733;
  font-size: 1.6em;
  opacity: .8;
  margin-bottom: 2px;
  text-align:center;
}

.goback a:hover {
  background-color: #f66733;
  color: #ffffff;
}
/* Education Block */
.education {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

.education a {
  background-color: transparent;
  border: 3px solid #f66733;
  padding: 7px 35px;
  border-radius: 3px;
  color: #f66733;
  font-size: 1.1em;
  opacity: .8;
  margin-bottom: 10px;
}

.education h3 {
  font-size: 2em;
  margin-bottom: 0em;
  padding-bottom: 0em;
}

.education a:hover {
  background-color: #f66733;
  color: #ffffff;
}


@media screen and (min-width: 40em) {
  .education {
    width: 70%;
  }
}